  /****CSS Starts HERE****/



  /** Newsletter subcription here**/


 .btn-outline-secondary{
   background-color: #ff6900;
   color: white;
 }

 .btn-outline-secondary:hover{
  background-color: #ff6900;
  color: white;
}


  





  